body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style-type: none;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.header-logo .logo-part {
  color: #2e2f42;
}

.footer-logo .logo-part {
  color: #f4f4fd;
}

.nav-link {
  font-weight: 500;
  color: #2e2f42;
  letter-spacing: 0.02em;
}

.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus {
  color: #404bbf;
}

.contacts {
  font-style: normal;
}

.contacts-link {
  color: #434455;
  letter-spacing: 0.02em;
}

button {
  cursor: pointer;
  background-color: #4d5ae5;
  letter-spacing: 0.04em;
  color: #fff;
  font-weight: 500;
  line-height: 1.5;
  font-family: "Roboto", sans-serif;
}

button:hover,
button:focus {
  background: #404bbf;
}

.hero {
  background-color: #2e2f42;
  text-align: center;
}

.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  color: #fff;
  letter-spacing: 0.02em;
}

.hero-btn {
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.04em;
}

.features {
  background-color: #fff;
}

.features-list-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.features-list-text {
  letter-spacing: 0.02em;
}

.our-team {
  background: #f4f4fd;
}
.our-team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
}

.our-team-list-item {
  background-color: #ffffff;
}

.our-team-list-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}
.our-team-list-text {
  text-align: center;
  letter-spacing: 0.02em;
}

.portfolio-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
}

.portfolio-list-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.portfolio-list-text {
  letter-spacing: 0.02em;
}

.page-footer {
  background-color: #2e2f42;
}

.footer-text {
  color: #f4f4fd;
  letter-spacing: 0.02em;
}
